* {
    box-sizing: border-box;
  }
  /*nav-bar*/
  nav {
    background-color: rgba(0,0,0,.9);
    padding: 1rem;
  }
  nav a {
    text-decoration: none;
    font-family: 'Space Mono', monospace;
    text-align: center;
    color: #fff;
    display: block;
    padding: .5rem 1rem;
  }
  .sign-up {
    border: 1px solid hsla(0,0%,100%,.2);
    border-radius: 9999px;
  }
  nav a:hover {
    color: hsl(0, 0%, 77%);
    transition: color .15s ease-in-out;
  }
  .sign-up:hover {
    color: #000;
    background-color: #fff;
    transition: background-color .15s ease-in-out;
  }
  @media (min-width: 768px) {

    nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
  
  }
  @media (min-width: 768px) {

    nav a {
      float: right;
    }
  
    .home {
      float: left;
    }
  
  }
  @media (min-width: 768px) {

    /* Clearfix */
      nav::after {
      content: "";
      clear: both;
      display: block;
    }
  
  }
  p {
    font-size: 1rem;
    font-family: 'Space Mono', monospace;
  }
 
  @media (min-width: 768px) {
  
    body {
      width: 60%;
      margin: 5.25rem auto 1.25rem;
    
    }
  
  }
  
  p {
    margin-bottom: 1.25rem;
    padding: .5rem;
  }
  header {
	
		text-align: center;
		padding-top: 0rem;
		padding-bottom: 0rem;
		border-bottom: 1px solid rgba(0,0,0,.1);
	  
  }
  .logo {
	width: 20rem;
	text-align: center;
  }
 .cover {
	background: url("/images/natural-green-grass-field-background-header.jpg") no-repeat;
	background-size: cover;
	height: 23.5vh;
	width: 100vw;
	color: hsla(0,0%,100%,.7);}